<!DOCTYPE html>
<head>
    <style>
        div{
            margin-top: 50px;
            margin-left: 250px;
            margin-right: 850px;
            font-size: large;
            text-align: left;
            border: 2px solid;
  
            padding: 10px;
        }
        span{
            padding: 10px;
            font-weight: bold;
        }
        

    </style>
</head>
<body>
    <div>
        <h2 style="text-align: center;">VIEW DETAIL</h2>
    <span >First Name : </span>{{cm.firstname}} <br>
    <span>Last Name : </span>{{cm.lastname}} <br>
    <span>Email : </span>{{cm.email}} <br>
    <span>Phone : </span>{{cm.phone}} <br>
    <span>Gender : </span>{{cm.gender}} <br>

    
    </div>
</body>
</html>